header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    color:#ffffff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #D16264;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    color:#ffffff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #D16264;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.arrow_down{
    transform: rotate(180deg);
}

main{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
.crow{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
    display: inline-block;
}
.crow-img{
    width: 210px; height: 195px;
}

.main-frame{
    box-sizing: border-box;
    height: 50%;
}

.label-main{
    font-family: "Lilita One" , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 66px;
    display: inline-block;
    position: relative;
    top: 150px;
}

.label-middle{
    font-family: "Lilita One";
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}

.label_donat_bs{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

.arrow{
    text-align: right;
    margin-right: 35%;
    margin-top: 80px;
    opacity: 0;
}

.label{
    grid-template-columns: auto 1fr auto;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-right: 50px;
    opacity: 0;
}

.circle {
    width: 100px;
    height: 100px;
    background: #FFC328;
    transition: transform .7s;
    border-radius: 50%;
    transform-origin: center; /* 1 */
    margin-left: 150px;
    position: relative;
    z-index: 1;
    bottom: 100px;
}

.circle-animation{
    animation-name: circle-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.circle:hover {
    transform: scale(3.4); /* 2 */
}

@keyframes circle-animation{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2.2);
    }
}

.crow-animation{
    animation-name: crow-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes crow-animation{
    0%{
        top: 65%;
        left: -30%;
    }
    100%{
        top: 38%;
        left: 12%;
    }
}

.speaker {
    width: 209px;
    height: 130px;
    border: 1px solid rgb(230, 4, 4);
    margin-top: 65px;
}

.label_donat_bs {
    display: flex;
    justify-content: space-around;
    position: relative;
    border: 1px solid rgb(255, 5, 242);
}

.label-animation{
    animation-name: label-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.arrow-animation{
    animation-name: arrow-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes arrow-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes label-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (min-width: 820px) {
    .label-main{
        font-size: 80px;
    }
    .circle{
        bottom: 200px;
    }

    @keyframes circle-animation{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(2.4);
        }
    }
 }

@media (min-width: 950px) {
    .label-main{
        font-size: 96px;
        top: 170px;
    }

    .arrow{
        margin-top: 120px;
    }

    @keyframes circle-animation{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(3.4);
        }
    }
    .crow-img{
        width: 310px; height: 295px;
    }
    .main-frame{
        height: 60%;
    }

    @keyframes crow-animation{
        0%{
            top: 80%;
            left: -30%;
        }
        100%{
            top: 43%;
            left: 4%;
        }
    }
    .circle{
        margin-bottom: 30%;
    }
 }

@media (min-width: 1150px) {
    .label-main{
        font-size: 120px;
        top: 120px;
    }

    .label-middle{
        font-size: 36px;
    }

    .arrow{
        margin-top: 50px;
    }

    @keyframes circle-animation{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(3.4);
        }
    }
    .crow-img{
        width: 310px; height: 295px;
    }
    .main-frame{
        height: 70%;
    }

    @keyframes crow-animation{
        0%{
            top: 80%;
            left: -30%;
        }
        100%{
            top: 42%;
            left: 4%;
        }
    }
    .circle{
        bottom: 220px;
        margin-left: 150px;
    }
 }

 @media (min-width: 1320px) {
    .label-main{
        font-size: 140px;
        top: 160px;
    }
    .label-middle{
        font-size: 36px;
    }

    @keyframes circle-animation{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(4.0);
        }
    }
    .crow-img{
        width: 360px; height: 345px;
    }
    .main-frame{
        height: 70%;
    }

    @keyframes crow-animation{
        0%{
            top: 80%;
            left: -30%;
        }
        100%{
            top: 42%;
            left: 5%;
        }
    }

    .circle{
        bottom: 250px;
        margin-left: 200px;
    }
 }

 @media (min-width: 1600px) {
    .label-main{
        font-size: 160px;
        top: 160px;
    }
    .label-middle{
        font-size: 46px;
    }

    @keyframes circle-animation{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(4.4);
        }
    }
    .crow-img{
        width: 390px; height: 375px;
    }
    .main-frame{
        height: 70%;
    }

    @keyframes crow-animation{
        0%{
            top: 80%;
            left: -30%;
        }
        100%{
            top: 38%;
            left: 5%;
        }
    }

    .circle{
        bottom: 340px;
        margin-left: 220px;
    }
 }